<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CardServicesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://service.unicard.com/CardServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="CardServicesSoap"
                contract="service.unicard.com.CardServicesSoap" name="CardServicesSoap" />
        </client>
    </system.serviceModel>


  <appSettings>
    <add key="CardService" value="http://service.unicard.com/CardServices.asmx" />
    <add key="AdminService" value="http://service.unicard.com/AdminService.asmx" />
    <add key="ApplicationID" value="1" />
  </appSettings>
</configuration>