<footer>
	<div class="inner">
		<div class="foot-nav"><a href='about/'  title='关于我们'>关于我们</a><span>|</span><a href='job/'  title='招贤纳士'>招贤纳士</a><span>|</span><a href='about/about42.html'  title='联系我们'>联系我们</a><span>|</span><a href='sitemap/'  title='网站地图'>网站地图</a><span>|</span><a href='link/'  title='友情链接'>友情链接</a></div>
		<div class="foot-text">
			<p>某某软件公司  版权所有  2014-2020  湘ICP备8888888 </p>
<p>地址:湖南长沙高新开发区  电话:0731123456  E-mail:mobanpeizhi@163.com</p>
<p><div id="metinfo_91mb_Powered"></div></p>
		</div>
	</div>
</footer>

</body>
</html>
