<?xml version="1.0" encoding="utf-8"?>
<databases>
  
  <connection name="Uni2uni_LocalLife_Bst" connectionString="server=117.79.235.214,11433;uid=sa;pwd=df#fFF8.pQ;database=uni2uni_locallifev2_develop_bst2;timeout=5;MultipleActiveResultSets=true;" retry="1" executionTime="10" printSql="true"/>
  <connection name="Uni2uni_LocalLife_Import" connectionString="server=117.79.235.214,11433;uid=sa;pwd=df#fFF8.pQ;database=uni2uni_locallifev2_Import;timeout=5;MultipleActiveResultSets=true;" retry="1" executionTime="10" printSql="true"/>
  
  
  <!--导入银行信息和商户的信息-->
  <connection name="Uni2uni_CloudShop" connectionString="server=218.205.162.121,9638;uid=sa;pwd=Uni@uni.c0m;database=uni2uni_cloudshop;timeout=5;MultipleActiveResultSets=true;" retry="1" executionTime="10" printSql="true"/>
  <connection name="Uni2uni_DianPing" connectionString="server=192.168.2.150;uid=data;pwd=uni2uni.c0m;database=Uni2uni_DianPing;timeout=5;MultipleActiveResultSets=true;" retry="1" executionTime="10" printSql="true"/>


</databases>
