<?xml version="1.0" encoding="utf-8"?>
<databases>
  <connection name="OnLine_Goodsinfo" connectionString="server=192.168.2.186;uid=sa;pwd=uni2uni.com;database=Uni2uni_Goodsinfo;timeout=5;MultipleActiveResultSets=true;" retry="1" executionTime="10" printSql="true"/>
  <connection name="OffLine_Goodsinfo" connectionString="server=192.168.2.186;uid=readonly_sql;pwd=readonly_sql;database=Uni2uni_Goodsinfo;timeout=5;MultipleActiveResultSets=true;" retry="1" executionTime="10" printSql="true"/>

</databases>
