img {
    border: 0px;
    padding: 0px;
    margin: 0px;
}
table {
  width:100%;height:auto;
}
ul {
margin:0px;padding:0px;
}
li {
list-style:none;
}
 #west_pannel {
margin:0px;padding:0px;
}
#west_pannel ul {
padding:0px;margin:0px;margin:5px 0px;
}
#west_pannel ul li {
    list-style:none; 
    padding:3px 0px;
    text-align:left;text-indent:30px;
}
#west_pannel ul li a{
    text-decoration:none; color:black; font-size:13px;
}

body {
    font-size: 13px;
}

.opv img {
    width:13px;
}

#tt,.tt {
    border: 1px solid #95b8e7;
    border-collapse: collapse;
    width:100%;height:auto;
}

#tt td,.tt td {
    padding: 5px;
    border: 1px dashed #ccc;
}

#tt .header td,.tt .header td {
    background: #f4f4f4;
}

.pager td{
 text-align:center;
}

 #AspNetPager {
    padding:5px 0px;
}

.hbutton {
padding:5px 2px;
text-align:right;
}

.atable  td{
padding:4px 0px; border-bottom:1px dashed #bcbcbc;}
